header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            li {
                margin: 0 50px;
                font-size: 20px;
            }
        }
    }
    .iconNavHeader {
        margin-left: 50px;
        &--icon {
            width: 25px;
        }
        &--bell {
            margin: 0 20px 0 30px;
        }
    }
}
@media (max-width: 1199px) {
    header {
        nav {
            ul {
                li {
                    margin: 0 25px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    header {
        nav {
            ul {
                li {
                    margin: 0 15px;
                }
            }
        }
        .logoNavHeader {
            width: 15em;
        }
    }
}
@media (max-width: 768px) {
    header {
        nav {
            ul {
                li {
                    font-size: 15px;
                }
            }
        }
        .iconNavHeader {
            &--icon {
                width: 15px;
            }
        }
        .logoHeader {
            width: 10em;
        }
    }
}
@media (max-width: 576px) {
    header {
        flex-direction: column;
        nav {
            ul {
                margin-top: 20px;
                padding: 0;
                li {
                    font-size: 20px;
                }
            }
        }
        .iconNavHeader {
            margin-left: 0px;
            &--icon {
                width: 15px;
            }
        }
        .logoHeader {
            width: 15em;
        }
    }
}